.flipping {
    overflow: hidden;
}

.flippingLabel {
    display: block;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.flippingLabel::after {
    content: attr(data-text);
    position: absolute;
    top: 100%;
    left: 0;
}

.flipping:hover .flippingLabel {
    transform: translateY(-100%);
}